name: Deploy Next.js to Pages

on:
  push:
    branches: ["main"] # Jika branch utamamu 'master', ganti menjadi 'master'

permissions:
  contents: read
  pages: write
  id-token: write

# Menghindari bentrokan jika kamu melakukan push berkali-kali dalam waktu singkat
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'

      - name: Setup Pages
        uses: actions/configure-pages@v5 # Gunakan v5 untuk stabilitas lebih baik

      - name: Install dependencies
        # 'npm ci' lebih disarankan untuk server karena lebih cepat dan konsisten daripada 'npm install'
        run: npm install 

      - name: Build with Next.js
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Folder 'out' muncul karena kita setting 'output: export' di next.config.mjs
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4